[build-system]
# For some reason, not including the minimum version bound
# causes pip to not install setuptools at all?
# At least, when giving `setuptools` without a version,
# I get an error that it can't find module `distutils`
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "raimad"
version = "0.1.1"
description = """\
RAIMAD Astronomical Instrument MAsk Design
"""
authors = [
	{name = "maybetree", email = "maybetree48@gmail.com"}
	]
license = { file = "LICENSE.md" }
readme = "README.md"
classifiers = [
	'Programming Language :: Python :: 3',
	]
requires-python = ">=3"
dependencies = [
	'numpy',
	]

[project.entry-points."flake8.extension"]
RAI = "raimad.checker.checker:Flake8Checker"

