### Generic ###

# VIM
*.sw*
*.vim*
*.obsession*

# misc. garbage
*.bak
*.old*
~*
*~
-
tmo
*.tmp

# XDG stuff
.Trash-*

# OSX stuff
.DS_Store

# Windows stuff
$RECYCLE.BIN
System Volume Information
*.dll

# vscope
.vscode/*
*.code-workspace
.history/

# potential credentials
*.pem
*.secret
*.key
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
*.env
!*.sample.env

# C/C++
*.o
*.out
*.a
*.so

# Python
*.dmypy.json*
__pycache__/
*.py[cod]
*$py.class
.clirope
*.egg-info
build
dist
coverage.json
htmlcov
*.spec
.coverage
.ipynb_checkpoints/**
.ipynb_checkpoints
.jupyter_ystore.db
venv*
.mesonpy*

# Archives
*.zip
*.tar
*.rar
*.tar.*
*.tzst
*.tgz
*.txz
*.zst
*.gz

# Multimedia
*.xcf
*.svg
*.jpg
*.webp
*.jxl
*.jpeg
*.png
*.avif
*.gif
*.pdf
*.gv
!img/*.jpg
!img/*.png
!img/*.svg
!img/*.gv

# CMake

CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.cmake
.cmake
.skbuild-info.json
CMakeInit.txt

### Project-specific ###

# <put project-specific ignore rules here>

