<!DOCTYPE html>
<html>
	<head>
		<title>PyClewinSDC Component Browser</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="compos-wrapper">
			<div id="compos">
			{% for compo in components %}
				<div class="compo-wrapper">
					<div class="compo" id="compo-{{compo.name}}">
						<input id="compo-checkbox-{{compo.name}}" type=checkbox class="compo-checkbox"/>

						<div class="compo-body">
							<div class="compo-left">
								{{compo.preview_image}}
								<!--<img
										src='components/{{compo.name}}/preview.svg'
										class='compo-preview'
										alt='{{compo.fancy_name}}'> -->
							</div>
							<div class="compo-right">
								<span class="compo-name"> {{compo.fancy_name}}</span>
								<p class="compo-desc">
								{{compo.description}}
								</p>
							</div>
						</div>

						<div class="compo-footer">

							<div class="compo-lists-wrapper">
								<div class="compo-lists">

									<div class="compo-layers">
										{{compo.layers | length}}
										Layer{{'' if compo.layers | length == 1 else 's'}}
										<ul>
											{% for layer in compo.layers %}
												<li>
													{{layer.name}}
												</li>
											{% endfor %}
										</ul>
									</div>

									<div class="compo-interfaces">
										{{compo.interfaces | length}}
										Interface{{'' if compo.interfaces | length == 1 else 's'}}
										<ul>
											{% for interface in compo.interfaces %}
												<li>
													<a href="#compo-{{interface.name}}">
														{{interface.name}}
													</a>
												</li>
											{% endfor %}
										</ul>
									</div>

									<div class="compo-marks">
										{{compo.marks | length}}
										Mark{{'' if compo.marks | length == 1 else 's'}}
										<ul>
											{% for mark in compo.marks %}
												<li>
													{{mark.name}}
												</li>
											{% endfor %}
										</ul>
									</div>

									<div class="compo-methods">
										{{compo.methods | length}}
										Custom Method{{'' if compo.methods | length == 1 else 's'}}
										<ul>
											{% for method in compo.methods %}
												<li>
													<details>
														<summary>
															<b>{{method.name}}</b>:
															{{method.short_description}}
														</summary>
														<p>
															{{method.long_description}}
														</p>
													</details>
												</li>
											{% endfor %}
										</ul>
									</div>

									<div class="compo-options">
										{{compo.options | length}}
										Option{{'' if compo.options | length == 1 else 's'}}
										<ul>
											{% for opt in compo.options %}
												<li class="compo-option {{'shadow' if opt.shadow else ''}}">
													{{opt.name}} = {{opt.default_value}}
													<i>{{opt.description}}</i>
												</li>
											{% endfor %}
										</ul>
									</div>


								</div>
								<br>
							</div>

							<div class="compo-codeblocks">
								<div class="compo-codeblock">
									<div class="compo-codelabel">Install: </div>
									<div class="compo-codetext">$ pip install somerepo</div>
								</div>
								<div class="compo-codeblock">
									<div class="compo-codelabel">Add to project: </div>
									<div class="compo-codetext">from {{compo.module_name}} import {{compo.name}}</div>
								</div>
								<div class="compo-codeblock">
									<div class="compo-codelabel">Author: </div>
									<div class="compo-codetext">{{compo.author}}</div>
								</div>
							</div>
							<div class="compo-footer-pad"></div>
						</div>
					</div>

					<div class="compo-checkbox-label-jail">
						<label for="compo-checkbox-{{compo.name}}" class="compo-checkbox-label">
							<img
									src='img/expand.svg'
									class='compo-expand'
									alt='Expand button'>
						</label>
					</div>
				</div>
				<br>

				{% endfor %}
			</div>
		</div>
	</body>
</html>
