:root {
    --bg-color: #FFF;
    --html-color: #FFF;
    --border-color: #AAA;
    --shadow-color: rgba(0,0,0,0.2);
		--text-color: #222;
		--hide-color: #BBB;

		--code-color: #FFF;
		--code-bg-color: #000;
		--code-border-color: #000;
		--backdrop-filter: contrast(15%) brightness(200%);
}
body {
	background-color: #FFF;
	background-image: url('background-light.svg');
}

@media (prefers-color-scheme: dark) {
	:root {
			--html-color: #222;
			--bg-color: #444;
			--border-color: #AAA;
			--shadow-color: rgba(255,255,255,0.4);
			--text-color: #EEE;
			--hide-color: #666;

			--code-color: #000;
			--code-bg-color: #FFF;
			--code-border-color: #FFF;
			--backdrop-filter: invert(1) contrast(45%) brightness(30%);
	}
	.compo-preview {
		filter: invert(1);
	}
	body {
		background-color: #111;
		background-image: url('background-dark.svg');
	}
}


* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: IBM Plex Sans;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#background-filter {
	width: 100%;
	/*backdrop-filter: var(--backdrop-filter);*/
}

#compos-wrapper {
	padding: 15px;
	height: 0px;
	overflow: visible;
}

#compos {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.compo {
	float: left;
	width: 100%;
	border: 1px solid var(--border-color);
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
  box-shadow: 1px 1px 6px var(--shadow-color);
	background-color: var(--bg-color);
	color: var(--text-color);
}

.compo:after {
	content: "";
	display: table;
	clear: both;
}

.compo-body {
	float: left;
	width: 100%;
	border-bottom: 1px solid var(--border-color);

	display: flex;
	align-items: stretch;
}

.compo-left {
	padding: 15px;
	border-right: 1px solid var(--border-color);
	text-align: center;
}

.compo-preview {
	max-width: 100px;
}

.compo-name {
	font-size: 1.7em;
}

.compo-right {
	width: 75%;
	padding: 15px;
}

.compo-footer {
	display: block; /* makes whole thing clickable */

	float: left;
	width: 100%;
}

.compo-lists-wrapper {
	float: left;
	width: 100%;
	border-bottom: 1px solid var(--border-color);
	display: block;
}

.compo-footer-pad {
	float: left;
	height: 200px;
}

.compo-lists {
	float: left;
	width: 100%;
	display: flex;
	align-items: stretch;
}

.compo-lists div {
	padding: 15px;
	flex-grow: 1;
}

.compo-layers {
	border-left: 1px solid var(--border-color);
}

.compo-interfaces {
	border-left: 1px solid var(--border-color);
}

.compo-codeblocks {
	width: 100%;
	padding: 15px;
	float: left;

	display: flex;
	flex-wrap: wrap;
}

.compo-codeblock {
	display:inline-block; /* prevent line break*/
	margin: 10px;
}

.compo-codelabel {
	padding: 2px;
	padding-left: 10px;
	display:inline; /* prevent line break*/
	background-color: var(--bg-color);

	border: 2px solid var(--code-border-color);
	border-right: none;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.compo-codetext {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: IBM Plex Mono;
	display:inline; /* prevent line break*/
	background-color: var(--code-bg-color);
	color: var(--code-color);

	border: 2px solid var(--code-border-color);
	border-left: none;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}

/* Functional part */

.compo-footer {
	border: 1px solid var(--bg-color);
	border-radius: 7px;
	transition: max-height 0.25s, background 0.25s;
}

.compo-footer {
	max-height: 30px;
	overflow: hidden;
  background: linear-gradient(var(--bg-color), var(--hide-color));
	background-size: 1px 30px;
  );
}

.compo-wrapper:hover .compo-footer {
	max-height: 70px;
	background-size: 1px 200px;
}

.compo-checkbox:checked ~ .compo-footer, .compo:target .compo-footer
{
	max-height: none;
	background: none;
}

.compo-checkbox {
	display: none;
}

.compo-checkbox-label {
	/*position: relative;
	bottom: 0px;*/
	/*background: rgba(255,0,0,0.2);*/
}

.compo-checkbox-label-jail {
	width: 100%;
	height: 0px;
	overflow: visible;
	text-align: center;
	transform: translateY(-60px);
}

.compo-expand {
	width: 70px;
}

.compo {
	padding-bottom: -100px;
}


/* Adaptive design */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 800px) {
	.compo-lists {
		display: block;
	}
	.compo-lists div {
		width: 100%;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid var(--border-color);
	}

	.compo-body {
	}
	.compo-body div {
	}

}



